.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #303030;
  font-family: Arial, sans-serif;
}

.login-card {
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;  
  max-width: 400px;
  text-align: center;
}

.login-logo {
  width: 100px;
}

.login-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card input {
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-card button {
  padding: 12px;
  background-color: #b2038f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-card button:hover {
  background-color: #b3004b;
}

.footer-text {
  font-size: 14px;
  color: #666;
  align-self: flex-end;
  margin-right: 4px;
}

.text-email {
  font-size: 14px;
  align-self: self-start;
  margin-left: 4px;
  color: #333;
}

 .text-senha { 
  font-size: 14px;
  align-self: self-start;
  margin-left: 4px;
  color: #333;
 }

 .title { 
  color: #333;
 }

 .footer-register {
  font-size: 14px;
  color: #333;
 }

 .preto { 
  background-color: #303030;
 }
